extends ../layout

block content
  h1(class="pageHeader") !{wc.title}
  
  
    h4 Weapon Class Info

    if guns.length > 0
      p(class="subtitle") There are #{guns.length} guns in this weapon class
      table(class="gunTable")
            tr
              th(class="bpTable_heading") Weapon Name
              th(class="bpTable_heading") Description

            each gun in guns
              if wc._id.toString() == gun.weaponClass.toString()
                tr 
                  td 
                    a(href=gun.url) !{gun.title}
                  td !{gun.description}
    else
      p(class="subtitle") There are no applicable guns

      
      
  hr
  p
    a(href=wc.url+'/delete') Delete Weapon Class 
      i(class="fas fa-times" style="color: red;")
  p
    a(href=wc.url+'/update') Update Weapon Class 
      i(class="fas fa-edit" style="color: orange;")
